NETILFY_GITHUB_OAUTH2_PORT=8000
NETILFY_GITHUB_OAUTH2_CLIENT_ID=ffffffffffffffffffff
NETILFY_GITHUB_OAUTH2_CLIENT_SECRET=ffffffffffffffffffffffffffffffffffffffff
NETILFY_GITHUB_DEPLOY_SCRIPT=/usr/local/bin/gatsby-deploy